In [1]:
import pandas as pd
import numpy as np
from pandas.api.types import is_numeric_dtype
from sklearn.cluster import KMeans

In [2]:
path = "C:/Users/NTX550/Desktop/권지원/ML/EPL/ML_EPL/EPL/underrover__ML.xlsx"
unov = pd.read_excel(path, index_col=0)
unov.columns

Index(['Date', 'Home', 'Away', 'H_Possession', 'A_Possession',
       'H_Shots on target', 'A_Shots on target', 'H_Shots', 'A_Shots',
       'H_Touches', 'A_Touches', 'H_Passes', 'A_Passes', 'H_Tackles',
       'A_Tackles', 'H_Clearances', 'A_Clearances', 'H_Corners', 'A_Corners',
       'H_Offsides', 'A_Offsides', 'H_Yellow cards', 'A_Yellow cards',
       'H_Red cards', 'A_Red cards', 'H_Fouls', 'A_Fouls', 'U_ODDS', 'O_ODDS',
       'UO_STANDARD', 'HOME_SCORE', 'AWAY_SCORE', 'MCH_SCORE', 'GAME_RESULT'],
      dtype='object')

In [4]:
a=pd.DataFrame()

In [8]:
re = unov.groupby('Home')['H_Possession'].roll
re

In [7]:
unov

,Date,Home,Away,H_Possession,A_Possession,H_Shots on target,A_Shots on target,H_Shots,A_Shots,H_Touches,...,A_Red cards,H_Fouls,A_Fouls,U_ODDS,O_ODDS,UO_STANDARD,HOME_SCORE,AWAY_SCORE,MCH_SCORE,GAME_RESULT
0,23.05.09 (화),Brighton & Hove Albion,Everton,77.7,22.3,5,5,23,10,956,...,0,11,13,2.13,1.50,3.5,1,5,6,1
1,23.05.09 (화),Nottingham Forest,Southampton,35.9,64.1,4,5,9,19,470,...,0,16,10,1.82,1.70,2.5,4,3,7,1
2,23.05.08 (월),Fulham,Leicester City,57.1,42.9,7,9,17,18,704,...,0,13,15,1.61,1.94,2.5,5,3,8,1
3,23.05.08 (월),Newcastle United,Arsenal,54.3,45.7,5,6,12,10,600,...,0,16,12,1.49,2.15,2.5,0,2,2,0
4,23.05.08 (월),West Ham United,Manchester United,34.7,65.3,4,4,15,19,523,...,0,4,9,1.55,2.04,2.5,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1624,19.01.03 (목),Wolverhampton Wanderers,Crystal Palace,51.9,48.1,1,4,9,17,730,...,0,9,7,0.00,0.00,0.0,0,0,0,0
1625,19.01.03 (목),Newcastle United,Manchester United,34.9,65.1,3,7,14,16,561,...,0,10,9,0.00,0.00,0.0,0,0,0,0
1626,19.01.02 (수),Arsenal,Fulham,59.6,40.4,9,4,16,9,743,...,0,7,12,0.00,0.00,0.0,0,0,0,0
1627,19.01.02 (수),Cardiff City,Tottenham Hotspur,26.9,73.1,3,4,5,13,438,...,0,6,6,0.00,0.00,0.0,0,0,0,0
1628,19.01.01 (화),Everton,Leicester City,59.6,40.4,2,4,17,8,750,...,0,5,8,0.00,0.00,0.0,0,0,0,0